body {
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: #2c2b2b;
    font-family: "Oswald", sans-serif;
}
a {
    color: inherit; /*смотрит у родителя*/
    display: inline-block;
}
.header {
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; /*растянула картинку*/
    background-position: top center;
    min-height: 700px;
    color: #fff;
}
.container {
    max-width: 1220px; /*включая paddingИ*/
    margin: 0 auto;
    padding: 0 10px; /*на всякий случай*/
}
.header__top {
    padding: 47px 0 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.phone {
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
}
.header__content {
    position: relative;
}
.header__title {
    padding-top: 60px;
    font-weight: 400;
    font-size: 72px;
    line-height: 107px;
    text-transform: uppercase;
}
.header__subtitle {
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.header__text {
    margin-bottom: 30px;
    max-width: 800px; /*есди текст будет очень большим*/
}
/*кнопке-блоку нельзя задавать внешних отступов*/
.button {
    line-height: 21px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 14px 54px 15px;
    background: #5a0d67;
    transition: all 0.5s;
}
.button:hover {
    background-color: #fff;
    color: #5a0d67;
}
.header__social {
    padding: 70px 0 20px 70px;
}
.social {
    display: flex;
    align-items: center;
}
.social__link {
    margin: 0 5px;
}
.header__images {
    position: absolute;
    right: 0;
    bottom: -290px;
}
.services {
    padding-top: 350px;
    margin-bottom: 100px;
}
.title {
    color: #21062a;
    font-size: 36px;
    line-height: 54px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 50px;
    position: relative;
}
.title::after {
    content: "";
    width: 80px;
    height: 3px;
    background-color: #21062a;
    position: absolute;
    top: 20px;
    margin-left: 20px;
}
.services__inner {
    display: flex;
    justify-content: space-beetwen;
}
.services__content {
    width: 505px;
    margin-right: 96px;
}
.services__content-title {
    color: #5a0d67;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 12px;
}
.services__content-textbox {
    margin-bottom: 57px;
}
.services__item-text {
    margin-bottom: 12px;
}
.button--decor {
    margin-top: -7px;
    color: #fff;
    position: relative;
}
.button--decor::after {
    content: "ЖМИ";
    color: #c4c4c4;
    margin-left: 130px;
    position: absolute;
}
.button--decor::before {
    content: "";
    background-color: #c4c4c4;
    width: 80px;
    height: 2px;
    position: absolute;
    margin-left: 180px;
    right: -65px;
    top: 24px;
}
.services__list {
    list-style: none; /*вставляем свою нумерацию*/
    counter-reset: my-counter; /**/
}
.services__item {
    counter-increment: my-counter; /**/
    border: 1px solid #c4c4c4;
    margin-bottom: 12px;
    width: 450px;
    padding: 10px 15px 10px 113px;
    position: relative;
    transition: all 0.5s;
}
.services__item::before {
    content: "0" counter(my-counter); /**/
    position: absolute;
    left: 20px;
    font-size: 36px;
    line-height: 54px;
    font-weight: 400;
    color: #c4c4c4;
    transform: rotate(270deg);
    transition: all 0.5s;
}
.services__item:hover {
    border: 2px solid #5a0d67;
    width: 500px;
}
.services__item:hover .services__item-title {
    color: #5a0d67;
}
.services__item:hover::before {
    color: #5a0d67;
}
.services__item-title {
    font-size: 24px;
    font-weight: 300;
}
.benefits {
    margin-bottom: 100px;
}
.benefits__inner {
    display: flex;
}
.benefits__images {
    margin-right: 95px;
}
.benefits__content {
    width: 100%;
    color: #fff;
}
.benefits__title {
    margin-left: 185px;
}
.benefits__list {
    list-style: none;
    background-color: #21062a;
    padding: 25px 0 25px 185px;
}
.benefits__item {
    width: 320px;
    margin-bottom: 20px;
}
.benefits__item-num {
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
}
.benefits__item-title {
    font-size: 24px;
    line-height: 36px;
}
.benefits__item-text {
    color: #c4c4c4;
}
.carousel {
    margin-bottom: 100px;
}
.carousel__inner {
    margin: 0 -7px;
}

.carousel__item {
    margin: 0 7px;
}
.carousel__item-box:hover {
    color: #fff;
    background-color: #5a0d67;
    border-color: #5a0d67;
    transition: all 0.5s;
}
.carousel__item-box {
    border: 1px solid #c4c4c4;
    padding: 6px 6px 16px 6px;
    text-align: center;
}
.carousel__item-img {
    min-width: 100%;
    margin-bottom: 23px;
}
.carousel__item-title {
    font-weight: 300;
    margin-bottom: 5px;
}
.carousel .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
}
.carousel .slick-dots button {
    font-size: 0;
    border: none;
    padding: 0;
    margin: 0 10px;
    background-color: #c4c4c4;
    width: 50px;
    height: 1px;
    margin-bottom: 100px;
}
.carousel .slick-active button {
    background-color: #5a0d67;
    height: 3px;
}
.contacts__inner {
    display: flex;
    justify-content: space-between;
}
.contacts__list {
    list-style: none;
}
.contacts__item {
    margin-bottom: 20px;
}
.contact__item-title {
    color: #5a0d67;
}
.contacts__form {
    background-color: #21062a;
    padding: 50px 75px 57px;
    text-align: center;
}
.contacts__title {
    color: #fff;
    margin-bottom: 16px;
    margin-left: 53px;
    text-align: left;
}
.contacts__title::after {
    background-color: #fff;
}
.contacts__input {
    background-color: transparent;
    width: 450px;
    height: 75px;
    color: #fff;
    border: 1px solid #fff;
    margin-bottom: 12px;
    display: block;
    font-size: 24px;
    padding: 0 15px;
}
.contacts__input::placeholder {
    font-family: "Oswald", sans-serif;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: #c4c4c4;
}
.contacts__btn {
    border: none;
    color: #fff;
    margin-top: 78px;
    cursor: pointer;
}
.footer {
    background-color: #21062a;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 100px;
}




@media (max-width: 1140px) {
    .services__item:hover {
        width: 450px;
    }
}
@media (max-width: 1024px) {
    .header__images {
        width: 80%;
    }
    .services {
        padding-top: 250px;
    }
    .services__inner{
        flex-wrap: wrap;
    }
    .services__list{
        order: -1;
        margin-bottom: 30px;
        width: 100%;
    }
    .services__item{
        width: 100%;
    }
    .services__item:hover{
        width: 100%;
    }
    .services__content{
        width: 100%;
        margin-right: 0;
    }
}
@media (max-width: 900px) {
    .phone {
        font-size: 24px;
        line-height: 36px;
    }
    .header__title {
        font-size: 54px;
        line-height: 74px;
    }
    .header__subtitle {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    .header__social {
        padding: 30px 0 20px 53px;
    }
    .benefits__images{
        display: none;
    }
}
@media (max-width: 768px){
    .benefits__inner{
        text-align: center;
    }
    .benefits__list{
        padding: 25px 15px;
    }
    .benefits__item{
        width: 100%;
    }
    .benefits__title{
        margin-left: 0;
    }
}
@media (max-width: 600px) {
    .header__content {
        padding-top: 0;
        text-align: center;
    }
    .header__social {
        padding: 30px 0 20px 0;
    }
    .social {
        justify-content: center;
    }
    .services{
        padding-top: 150px;
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 30px;
    }
    .title::after{
        display: none;
        text-align: center;
    }
    .body{
        font-size: 16px;
        line-height: 22px;
    }
    .services__item::before{
        top: 5px;
    }
    .services__content{
        text-align: center;
    }
    .benefits__item-num{
        font-size: 28px;
        line-height: 36;
    }
}
@media (max-width: 520px) {
    .header__top {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .logo {
        margin-bottom: 20px;
        width: 100%;
    }
    .header__title {
        margin-bottom: 20px;
    }
    .header__images {
        position: static;
        width: 100%;
    }
    .services{
        padding-top: 50px;
    }
    .services__item{
        padding: 10px 15px 10px 60px;
    }
    .services__item::before{
        left: 11px;       
    }
    .button--decor::before{
        right: -50px;
    }
    .button--decor::after{
        margin-left: 110px;
    }
    .services__inner,
    .benefits{
        margin-bottom: 50px;
    }
}
@media (max-width: 360px) {
    .button--decor::before,
    .button--decor::after{
        display: none;
    }
}
@media (max-width: 340px) {
    .header__title {
        font-size: 44px;
        line-height: 50px;
    }
}
